<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Your Saved Posts</h1>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
    </div>
    <div class="flex flex-wrap -m-4">
      <% @saved_posts.each do |saved_post| %>
        <%= link_to post_path(saved_post.post), class: 'xl:w-1/4 md:w-1/2 p-4' do %>
          <div class="bg-gray-100 p-6 rounded-lg shadow-lg">
            <% if saved_post.post.post_images.attached? %>
              <%= image_tag saved_post.post.post_images[0], class: 'h-40 rounded w-full object-cover object-center mb-6' %>
            <% else %>
            <% end %>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4"><%= saved_post.post.title %></h2>
            <p class="leading-relaxed text-base"><%= saved_post.post.content %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>