/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

.iti{
    float: left;
}

.reel h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#reels-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.reel {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    scroll-margin-top: 20px; /* Ensure smooth scroll with some margin */
}

.reel video {
    max-width: 100%;
    height: auto;
}
/*#reels-container {*/
/*    display: flex;*/
/*    overflow-x: auto;*/
/*    scroll-snap-type: x mandatory;*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*    scroll-behavior: smooth;*/
/*}*/

/*.reel {*/
/*    flex: 0 0 100vw; !* Each reel takes full viewport width *!*/
/*    scroll-snap-align: center; !* Reel snaps to center *!*/
/*    padding: 20px;*/
/*}*/

/*video {*/
/*    width: 100%;*/
/*    height: auto;*/
/*    max-height: 90vh; !* Limit video height *!*/
/*}*/